<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSRF Token -->
    <meta name='csrf-token' content='{{ csrf_token() }}'>
    <title>Encore Video Crop App</title>
    <script type='text/javascript'>
    </script>

</head>
<body>
<div id='app'>
    <main class='py-4'>
        <div id='app-mount-root'></div>
    </main>
</div>
</body>
</html>
