.cursorable {
  cusror: pointer;
}

body {
  background-color: #bbbb;
  font-size: 16pt;
  word-break: break-word;
}

@media (max-width: 768px) {
  body {
    font-size: 11pt;
  }
}

:focus {
  outline: none; //#dcfffd auto 1px;
  background-color: #dcfffd;
}

.container {
  margin: 100px auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;

  .main-view {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
}

.row {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin:0;
}

.col {
  text-align: center;
}

.btn {
  font-size: inherit;
}

.pbar {
  width:80%;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #CCFFF8;

  .pbar-bar {
    position:absolute;
    top:0;left:0;
    bottom:0;
    background-color: #5ccdff;
  }

  .pbar-text {
    z-index:2;
  }
}

.upload-zone {
  font-size: 120%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.link-like {
  color: #2a6496;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;

  &.dis {
    text-decoration: none;
    color: silver;
    cursor:default;
  }
}

.process-option {
  background-color: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  display: flex;
  height: 150px;
  align-items: center;

  &.selected {
    cursor: default;
    background-color: #8f8;
  }
}

.cropper-row {
  margin-bottom: 20px;


  .cropper-box {
    position: relative;
    width: 100%;
  }

  .cropper-box-padding {
    position: relative;
    width: 100%;
    pa-dding-top: 60%;
  }

  .cropper-modal {
    background-color: white;
  }
}

img.cropper-hide {
  display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}
